services:
  ninco-postgres-db:
    profiles: [dev, prod]
    image: bitnami/postgresql:14 
    container_name: ninco-postgres-db
    ports:
      - "5432:5432"  # Expose PostgreSQL port for development  (remove in production)
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${DATABASE_USERNAME:-docker}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD:-docker}
      - POSTGRES_DB=${DATABASE_NAME:-ninco}
    volumes:
      - ninco_db_volume:/bitnami/postgresql  # Persist database data in a Docker volume
    networks:
      - ninco-network
    env_file:
      - .env  # Load environment variables from the .env file

  ninco-backend:
    profiles: [prod]
    build: ./backend
    container_name: ninco-backend
    ports:
      - "3333:3333"
    restart: unless-stopped
    depends_on:
      - ninco-postgres-db
    networks:
      - ninco-network
    env_file:
      - ./backend/.env

  ninco-frontend:
    profiles: [prod]
    build:
      context: ./frontend
      args:
        - NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=${NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY}
        - NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
        - NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
    container_name: ninco-frontend
    ports:
      - "3000:3000"
    restart: unless-stopped
    depends_on:
      - ninco-backend
    networks:
      - ninco-network
    env_file:
      - ./frontend/.env.local

volumes:
  ninco_db_volume:
    driver: local  # Specify the volume driver for local persistence

networks:
  ninco-network:
    driver: bridge  # Use the bridge network for service communication